.container {
    padding: 20px 120px;
  }
  
  .person {
    border: 10px solid transparent;
    margin-left: 40px;
    margin-bottom: 25px;
    width: 70%;
    height: 70%;
   
  }
  .person:hover {
     transition: all .2s ease-in-out; 
     transform: scale(1.1); 
    
    }

  body  {
    background-image: url("./components/image/backgorund.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    height: 100%; 
      background-size: cover;
  background-attachment: fixed;
    }
  .logo { 
      width: 100px; 
      height: 100px; 
      display: block;
        text-indent: -9999px;
        margin: 0 auto;
    }
    .list{
      overflow-y: auto;
        height: 500px;
        width: 50% 
        border
    }
  .artist-img{
    height: 42px;
    width: 42px;
    border-radius: 92px;
  }
  .item{
    border-bottom-color:gold; 
  }



.card {
  display: block; 
  margin-bottom: 20px;
  line-height: 1.42857143;
  transition: box-shadow .25s; 
  background-color: rgba(255, 255, 255, 0.0) !important;
  border: none !important;
}
a {
color: #000;
text-decoration: none !important;
}
a:link,a:visited {
color: black;
}
.card:hover {
box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-cirlce {

border-top-left-radius:2px;
border-top-right-radius:2px;
border-radius: 50%;
  overflow: hidden;
}
.img-card img{
width: 100%;
height: 200px;
object-fit:cover; 
transition: all .25s ease;
} 
.card-content {
padding:15px;
text-align:left;
}
.card-title {
margin-top:0px;
font-weight: 700;
font-size: 1.65em;
}
.card-title a {
color: #000;
text-decoration: none !important;
}
.pagination {
  display: inline-block;
  margin-left: 20%;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
